body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  text-align: center;
  margin: -10px -10px 10px -10px;
  width: -webkit-fill-available;
  background-color: rgba(237, 241, 229, 0.9);
}
main {
  display: block;
  justify-content: space-between;
  align-items: center;
}

#gameBoardContainer {
  margin: auto auto;
  width: 400px;
  height: 400px;
  display: none;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid;
}
.spot {
  border: solid;
  align-content: center;
  text-align: center;
  font-size: 50px;
  padding: 18%;
}
#game-start {
  margin-top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.player {
  padding: 10px;
}

#score {
  margin-top: 40%;
  display: none;
  padding: 3px;
  background-color: aqua;
  width: 200px;
  height: 100px;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  flex-direction: column;
  justify-content: center;
}
#play-again {
  margin: 10px;
}
footer {
  text-align: center;
  margin: 10px -10px -10px -10px;
  position: absolute;
  bottom: 0px;
  width: -webkit-fill-available;
  background-color: rgba(237, 241, 229, 0.9);
}
