html {
	width: 100%;
	height: 100%;
}
body {
	display: grid;
	grid-template-rows: 70px 1fr 50px;
	background-color: #eeebdd;
	width: 100%;
	height: 100%;
}
header {
	margin: 25px auto;
	color: #ce1212;
	background-color: transparent;
	font-size: xxx-large;
	font-family: monospace;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
main {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
footer {
	font-size: large;
	font-weight: bold;
	text-align: center;
}
input {
	border: 1px solid #ce1212;
	color: #ce1212;
	background-color: transparent;
	font-family: monospace;
	font-style: italic;
	width: 70%;
}
h2 {
	margin: 10px;
	color: #ce1212;
	background-color: transparent;
	font-size: large;
	font-family: monospace;
	font-style: italic;
	font-weight: bold;
}
#gameBoardContainer {
	width: 35vmax;
	height: 35vmax;
	display: none;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
}

#game-start {
	display: flex;
	height: 50%;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#players {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 30%;
	width: 80%;
}

#score {
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3px;
	font-size: xx-large;
	font-weight: bolder;
	font-style: italic;
}
#play-again,
#start {
	margin: 10px;
	border: 1px solid #ce1212;
	color: #ce1212;
	background-color: transparent;
	font-size: large;
	font-family: monospace;
	font-style: italic;
	font-weight: bold;
	cursor: pointer;
}
.player {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 70%;
	width: 50%;
}
.spot {
	display: flex;
	border: solid;
	text-align: center;
	font-size: 10vmax;
	justify-content: center;
	align-items: center;
}
@media (max-width: 500px) {
	#players {
		flex-direction: column;
	}
}
